body {
  background-color: white;
  color: #026873;
  min-width: 400px;
}

#board {
  margin-top: 20px;
  overflow-y: scroll;
  width: 350px;
  min-height: 350px;
  height: 350px;
  -webkit-box-shadow: 5px 6px 18px -5px rgba(104, 107, 105, 1);
  -moz-box-shadow: 5px 6px 18px -5px rgba(104, 107, 105, 1);
  box-shadow: 5px 6px 18px -5px rgba(104, 107, 105, 1);
}

#history {
  padding: 30px;
  margin-top: 20px;
  overflow-y: scroll;
  width: 350px;
  min-height: 150px;
  height: 150px;
  -webkit-box-shadow: 5px 6px 18px -5px rgba(104, 107, 105, 1);
  -moz-box-shadow: 5px 6px 18px -5px rgba(104, 107, 105, 1);
  box-shadow: 5px 6px 18px -5px rgba(104, 107, 105, 1);
}

.unit-row {
  display: table;
  margin: 3px;
  padding: 3px;
}

.unit-block {
  float: left;
  height: 60px;
  width: 60px;
  margin-left: 3px;
}

#history .unit-block {
  float: left;
  height: 15px;
  width: 15px;
  margin-left: 1px;
}

#history .unit-row {
  display: table;
  margin: 3px;
  padding: 3px;
}

.unit-block:first-child {
  margin-left: 0px;
}

.unit-block:nth-child(1) {
  background-color: #026873;
}

.unit-block:nth-child(2) {
  background-color: #03a6a6;
}

.unit-block:nth-child(3) {
  background-color: #f2b28d;
}

.unit-block:nth-child(4) {
  background-color: #d96e48;
}

.unit-block:nth-child(5) {
  background-color: #bf4545;
}
